<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5" android:versionName="1.0.1" package="com.awgstudios.discordtools" android:installLocation="auto">
	<application android:label="Discord Tools" android:theme="@style/MainTheme" android:icon="@mipmap/icon">
		<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3881259676793306~1258565214" />
		<activity android:name="crc6490bee2440872efc7.MainActivity" android:exported="true" />
	</application>
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>